.indented {
	padding-left: 20px;
}

html, 
body,
#mother {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* head */

#head {
	height: 140px;
}
#profileSettings {
	width: 600px;
}
#profileSettings div {
	padding: 2px 0;
}
#currentProfileName {
	font-weight: bold;
}
#currentProfile {
	width: 400px;
}

/* platform settings */

#platformSettingsWrapper h6 {
	margin: 0 0 5px 0;
}

#platformSettings div {
	display: inline-block;
	padding: 2px 5px;
}

/* feature list */

#featureList {
	width: 200px;
	overflow: auto;
}

/*****************/
/* Platform Pane */
/*****************/
#platformsPaneWrapper {
	padding: 5px 0;	
}
.platformDetails {
	padding: 0 10px;
	display: inline-block;
	border-left: solid 1px #808080;
}
.platformDetails.first {
	border: none;
}
#platformsPane {
	display: -moz-box;
	width: 100%;
	height: 100%;
}
.featureDetails {
	padding: 5px 5px 10px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.featureDetails:hover {
	background: #DFEDFA;
}
.featureDetails div {
	padding-left: 10px;
}
.featureDetails h6 {
	margin: 2px 0;
}
.featureDetails h6 div {
	float: right;
	width: 10px;
	height: 10px;
	cursor:help;
	margin: 0 2px;
	padding: 0;
}
.included {
	color: #808080;
}
.platformSummary {
	padding: 10px;
	margin-top: 10px;
	border-top: solid 1px #808080;
}